{% extends 'overview/base.html' %}
{% block content %}
<h1>Overview groups</h1>

{% for group in groups %}

<div class""> 
    <h3> {{group.groupName}} <a name="" id="" class="btn btn-primary" href="{% url 'groups-delete' group.GroupID %}" role="button"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></h3>
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th class="test-right">
                    <a name="" id="" class="btn btn-primary" href="{% url 'createActivity-group' %}" role="button">Create task</a>
                </th>
                
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
            {% if link.groupID == group %}
            <tr>
                <td scope="row">{{link.userID.userName}}</td>
                <td><p class="text-right"><a href="{% url 'groups-removeUser' link.linkID %}">remove from group</a></p></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a name="" id="" class="btn btn-primary mb-5" href="{% url 'groups-addUser' group.GroupID %}" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Add to group</a>
</div>

{% endfor %}

<a name="" id="" class="btn btn-primary mt-3" href="{% url 'creationEngine-createGroup' %}" role="button">Create Group</a>

{% endblock %}